@import "~@blueprintjs/core/dist/blueprint.css";
@import "~bootstrap/less/variables.less";
@import "~bootstrap/less/mixins/grid-framework.less";
@import "~bootstrap/less/mixins/grid.less";
@import "~bootstrap/less/grid.less";
@import "_utilities.less";
// @import "~font-awesome/less/font-awesome.less";

body {
  margin: 0;
  margin-top: 60px;
  background-color: #f5f8fa;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, h2, h3 h4, h5, h6, p {
  cursor: default;
  -webkit-user-select: none;
}

.pt-navbar-heading {
  a, a:hover {
    color: #f5f8fa;
  }
}

.pt-table {
  width: 100%;
  background-color: white;
}

.pt-menu-item:not(.pt-disabled):hover,
.pt-submenu > .pt-popover-open > .pt-menu-item:not(.pt-disabled) {
  .pt-text-muted {
    color: #89cdf7;
  }
}

.page-header {
  padding-bottom: 15px;
  border-bottom: 1px solid #d2d6d9;
  margin-bottom: 30px;
}


.app-sidebar {
  width: 25%;
  float: left;
  padding: 10px;
}

.app-content {
  width: 75%;
	padding: 20px;
  float: left;
}

.sidebar-icon {
  color: #9a9ea5;
  position: relative;
  top: -3px;
}

.start-page {
  text-align: center;
  margin: 0 auto;
  width: 500px;
  padding: 40px;
  margin-top: 150px;
}

.table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.table td, th {
  padding: 5px;
  border: 1px solid #eee;
}

.loader {
  width: 300px;
  margin: 300px auto 0;
}

.text-center {
  text-align: center;
}

.axis--x path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

